USE [BANCOBLACKFORGE]
GO
/****** Object:  Table [dbo].[ConfiguracaoSistema]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracaoSistema](
	[Id] [int] NOT NULL,
	[TemaId] [int] NOT NULL,
 CONSTRAINT [PK_ConfiguracaoSistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracoesMaquina]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracoesMaquina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaquinaId] [int] NOT NULL,
	[TipoServico] [nvarchar](50) NOT NULL,
	[ProducaoPorMinuto] [decimal](18, 2) NOT NULL,
	[ConsumoPorUnidade] [decimal](18, 4) NOT NULL,
	[Ativa] [bit] NOT NULL,
 CONSTRAINT [PK_ConfiguracoesMaquina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Matricula] [nvarchar](50) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[Idade] [int] NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[Setor] [nvarchar](100) NOT NULL,
	[DataAdmissao] [datetime2](7) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Observacoes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Funcionarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Funcionarios_CPF] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Funcionarios_Matricula] UNIQUE NONCLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lotes]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Quantidade] [decimal](18, 2) NOT NULL,
	[CustoUnitario] [decimal](18, 2) NOT NULL,
	[DataEntrada] [datetime2](7) NOT NULL,
	[DataFabricacao] [datetime2](7) NULL,
	[DataValidade] [datetime2](7) NULL,
	[MaterialId] [int] NOT NULL,
	[Observacoes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Lotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Lotes_Material_Codigo] UNIQUE NONCLUSTERED 
(
	[MaterialId] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquinas]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Fabricante] [nvarchar](100) NOT NULL,
	[Modelo] [nvarchar](100) NOT NULL,
	[NumeroSerie] [nvarchar](100) NOT NULL,
	[DataAquisicao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Maquinas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Maquinas_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Maquinas_NumeroSerie] UNIQUE NONCLUSTERED 
(
	[NumeroSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiais]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
	[Unidade] [nvarchar](20) NOT NULL,
	[Descricao] [nvarchar](500) NULL,
	[EstoqueMinimo] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Materiais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Materiais_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimentacoes]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentacoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Quantidade] [decimal](18, 2) NOT NULL,
	[DataMovimentacao] [datetime2](7) NOT NULL,
	[Observacoes] [nvarchar](500) NULL,
	[MaterialId] [int] NOT NULL,
	[LoteId] [int] NULL,
 CONSTRAINT [PK_Movimentacoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdensServico]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdensServico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroOS] [nvarchar](50) NOT NULL,
	[Cliente] [nvarchar](150) NOT NULL,
	[Contato] [nvarchar](100) NULL,
	[Endereco] [nvarchar](300) NULL,
	[DataAbertura] [datetime2](7) NOT NULL,
	[DescricaoServico] [nvarchar](1000) NOT NULL,
	[TipoServico] [nvarchar](50) NOT NULL,
	[DataEntrega] [datetime2](7) NULL,
	[FuncionarioId] [int] NULL,
	[MaquinaId] [int] NULL,
	[ValorMateriais] [decimal](18, 2) NOT NULL,
	[ValorMaoObra] [decimal](18, 2) NOT NULL,
	[Desconto] [decimal](18, 2) NOT NULL,
	[ValorTotal] [decimal](18, 2) NOT NULL,
	[CondicaoPagamento] [nvarchar](max) NULL,
	[Observacoes] [nvarchar](500) NULL,
 CONSTRAINT [PK_OrdensServico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_OrdensServico_NumeroOS] UNIQUE NONCLUSTERED 
(
	[NumeroOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessosProducao]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessosProducao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrdemServicoId] [int] NOT NULL,
	[MaquinaId] [int] NOT NULL,
	[DataInicio] [datetime2](7) NOT NULL,
	[DataFim] [datetime2](7) NULL,
	[QuantidadePlanejada] [int] NOT NULL,
	[QuantidadeProduzida] [int] NOT NULL,
	[ProducaoPorMinuto] [decimal](18, 2) NOT NULL,
	[ConsumoPorUnidade] [decimal](18, 4) NOT NULL,
	[MaterialConsumido] [decimal](18, 4) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ProcessosProducao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temas]    Script Date: 07/10/2026 13:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Temas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Temas_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfiguracoesMaquina] ADD  CONSTRAINT [DF_ConfiguracoesMaquina_Ativa]  DEFAULT ((1)) FOR [Ativa]
GO
ALTER TABLE [dbo].[Materiais] ADD  CONSTRAINT [DF_Materiais_EstoqueMinimo]  DEFAULT ((0)) FOR [EstoqueMinimo]
GO
ALTER TABLE [dbo].[OrdensServico] ADD  CONSTRAINT [DF_OS_ValorMateriais]  DEFAULT ((0)) FOR [ValorMateriais]
GO
ALTER TABLE [dbo].[OrdensServico] ADD  CONSTRAINT [DF_OS_ValorMaoObra]  DEFAULT ((0)) FOR [ValorMaoObra]
GO
ALTER TABLE [dbo].[OrdensServico] ADD  CONSTRAINT [DF_OS_Desconto]  DEFAULT ((0)) FOR [Desconto]
GO
ALTER TABLE [dbo].[OrdensServico] ADD  CONSTRAINT [DF_OS_ValorTotal]  DEFAULT ((0)) FOR [ValorTotal]
GO
ALTER TABLE [dbo].[Temas] ADD  CONSTRAINT [DF_Temas_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[ConfiguracaoSistema]  WITH CHECK ADD  CONSTRAINT [FK_ConfiguracaoSistema_Temas] FOREIGN KEY([TemaId])
REFERENCES [dbo].[Temas] ([Id])
GO
ALTER TABLE [dbo].[ConfiguracaoSistema] CHECK CONSTRAINT [FK_ConfiguracaoSistema_Temas]
GO
ALTER TABLE [dbo].[ConfiguracoesMaquina]  WITH CHECK ADD  CONSTRAINT [FK_ConfiguracoesMaquina_Maquinas] FOREIGN KEY([MaquinaId])
REFERENCES [dbo].[Maquinas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConfiguracoesMaquina] CHECK CONSTRAINT [FK_ConfiguracoesMaquina_Maquinas]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_Materiais] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiais] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_Materiais]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacoes_Lotes] FOREIGN KEY([LoteId])
REFERENCES [dbo].[Lotes] ([Id])
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [FK_Movimentacoes_Lotes]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacoes_Materiais] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiais] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [FK_Movimentacoes_Materiais]
GO
ALTER TABLE [dbo].[OrdensServico]  WITH CHECK ADD  CONSTRAINT [FK_OrdensServico_Funcionarios] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionarios] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrdensServico] CHECK CONSTRAINT [FK_OrdensServico_Funcionarios]
GO
ALTER TABLE [dbo].[OrdensServico]  WITH CHECK ADD  CONSTRAINT [FK_OrdensServico_Maquinas] FOREIGN KEY([MaquinaId])
REFERENCES [dbo].[Maquinas] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrdensServico] CHECK CONSTRAINT [FK_OrdensServico_Maquinas]
GO
ALTER TABLE [dbo].[ProcessosProducao]  WITH CHECK ADD  CONSTRAINT [FK_ProcessosProducao_Maquinas] FOREIGN KEY([MaquinaId])
REFERENCES [dbo].[Maquinas] ([Id])
GO
ALTER TABLE [dbo].[ProcessosProducao] CHECK CONSTRAINT [FK_ProcessosProducao_Maquinas]
GO
ALTER TABLE [dbo].[ProcessosProducao]  WITH CHECK ADD  CONSTRAINT [FK_ProcessosProducao_OrdensServico] FOREIGN KEY([OrdemServicoId])
REFERENCES [dbo].[OrdensServico] ([Id])
GO
ALTER TABLE [dbo].[ProcessosProducao] CHECK CONSTRAINT [FK_ProcessosProducao_OrdensServico]
GO
